@{
    ViewData["Title"] = "Home Page";
}

@model ProjectListViewModel

<head>
    <link runat="server" rel="shortcut icon" href="images/book.png" type="image/x-icon" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="~/css/cssSheet.scss" rel="stylesheet/scss" type="text/css" />
    <link href="~/css/flexbox.css" rel="stylesheet" />



</head>
<div class="text-center">
    <h1>Amazon Books</h1>

</div>sports
<div class="flex">
<!--using a bootstrap table because the other one is incredibly ugly. Putting all the information in through razor-->
    <div>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Author First Name</th>
                <th>Middle Initial</th>
                <th>Author Last Name</th>
                <th>Publisher</th>
                <th>ISBN</th>
                <th>Classification</th>
                <th>Category</th>
                <th>Price</th>
                <th>Page Number</th>
                <th>Cart</th>
            </tr>



            @foreach (var x in Model.Books)
            {
                <partial name="ProjectSummary.cshtml" model="x" />
                @*<form id="@x.BookID" asp-page="/Cart" method="post">
                    <input type="hidden" />
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />


                    <button type="submit" class="btn">@x.Title</button>


                </form>*@
            }


        </table>


        <div class="btn btn btn-link">
            <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
                 page-class-normal="button-outline-dark"
                 page-class-selected="btn-primary"
                 page-url-category="@Model.CurrentCategory"
                 class="btn-group pull-right m-1"></div>
        </div>

        <div>
            <vc:navigation-menu />
        </div>
      
      
    </div>
</div>
<br />



<!--pagination baby, the real deal-->
<!--One of the bootstraps that we had to do
    the other bootstraps are the thing that was given and the other is the table. I didn't like the way that it was presented on the video that he made,
    so I kept it in a table because I thought it looked nicer. -->





