@model Books 
<!--
I know the video showed how to do it with the model, but I kept having bugs, but the bugs were my fault because I spelled partial wrong,
    but I fixed that but just
    devided to keep this beause i am stupid . But it will load to anywhere where the"link " is.
-->



<tr>
    <td data-th="Title">@Model.Title</td>
    <td data-th="Author First Name">@Model.AuthorFirst</td>
    <td data-th="Middle Initial">@Model.AuthorMiddle</td>
    <td data-th="Author Last Name">@Model.AuthorLast</td>
    <td data-th="Publisher">@Model.Publisher</td>
    <td data-th="ISBN">@Model.ISBN</td>
    <td data-th="Classification">@Model.Classification</td>
    <td data-th="Category">@Model.Category</td>
    <td data-th="Price">$@Model.Price</td>
    <td data-th="PageNum">@Model.PageNum</td>
</tr>


@*<form id="@Model.BookID" asp-page="/Cart" method="post">
    <input type="hidden" asp-for="BookID" />
    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
    <span class="card-text p-1">
        @Model.Title
    <button type="submit" class="btn-success btn-sm pull-right" style="float:right"></button>
    Order
</span>
</form>*@


